<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Gallery</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
        <span>My Gallery</span>
    </header>
    <div class="main-content">
        <form action="/addUser" method="post">
            <label for="username">New user:</label>
            <input type="text" id="username" name="username" required>
            <br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br><br>
            <input type="submit" value="Add user">
        </form>
    </div>
</body>
</html>
