<!DOCTYPE html>
<html xmlns:th="http:thymeleaf.org" xmlns:text="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MyShop</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

   
<body>
    <header>
        <span class="title">MyShop</span>

        <a href="" class="cart-ico">
            <div>
                <span>Cart</span>
                <span>(0)</span>
                <span>eur</span>
            </div>
        </a>
    </head>
    </header>

    <div class="main-content">
        <div class="item">
            <p class="item-name" th:text="${item.name}">
            </p>

            <img th:src="@{${item.imgUrl}}">
            <div>
                <span>Cena: </span>
                <span th:text="${item.price}"></span>
                <span>eur</span>
            </div>

            <a href="" class="add-btn">Dodaj</a>
        </div>
        
    </div>
</body>
</html>